.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;

    /*background-color: chocolate;*/
}

.item {
    order: 1;
}

.pickup{

    background-color: chocolate;
    width: 400px;
    height: 300px;
    margin: 5px auto;
    overflow: auto;
}
.bikes {
    background-color: blue;
    width: 400px;
    height: 300px;
    margin: 5px auto;
    overflow: auto;

}
.nameBooking{
    background-color: green;
    width: 400px;
    height: 300px;
    margin: 5px auto;
    overflow: auto;

}
.codeConfirmation{
    background-color: yellow;
    width: 400px;
    height: 300px;
    margin: 5px auto;
}

.table-row {
    display: inline-block;

    cursor: pointer;
}